.works-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 600px;
    min-height: 700px;
    max-width: 90vw;
    max-height: 80vh;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: .5rem;
    background-color: rgba(70, 69, 69, 0.4);
    padding: 1rem;
}
.works-container section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.works-container a {
    background-color: transparent;
    color: #0AE1C0;
    border: .5px solid #0AE1C0;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 1s ease, color 1s ease;
}
.works-container section div:first-of-type a:first-of-type {
    padding-left: 27px;
    padding-right: 27px;
}
.works-container a:hover {
    background-color: #0AE1C0;
    color: black;
}
.works-container section > * {
    margin: 0;
}
.works-container section > div {
    height: 100px;
    display: flex;
    align-items: center;
}
.works-container h1 {
    margin: 0;
    height: 100px;
}
.works-container .pre-animation {
    position: relative;
    opacity: 0;
    animation: fade-in-out 1s forwards;
}
@media only screen and (max-width: 600px) {
    body {
        min-height: 115vh;
    }
    .works-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        max-height: fit-content;
        transform: translate(-50%, -43%);
        margin-top: 30px;
    }
    .works-container h1 {
        height: 50px;
    }
    .works-container section > div {
        height: 100px;
    }
}
@keyframes fade-in-out {
    0% {left: -1000px;}
    100% {left: 0; opacity: 1;}
} 